<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" (click)="btnRedirectHome()" routerLinkActive="router-link-active" ><img  src="/assets/img/dcrd_memories_logo.svg"></div>
    <div class="search-container"> 
      <!-- <app-form-search style="color: #ffff !important;"></app-form-search> -->
    </div>

    <div class="nav-item date">
      <div class="item-date">
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Seleccione una fecha</mat-label>
            <input matInput 
              [matDatepicker]="DateFrom" 
              [min]="minDate" 
              [max]="maxDate" 
              (dateInput)="addDateFrom($event)">
            <mat-datepicker-toggle matSuffix [for]="DateFrom"></mat-datepicker-toggle>
            <mat-datepicker #DateFrom></mat-datepicker>
          </mat-form-field>
      </div>
    
      <div class="item-date">
          <label>&nbsp;&nbsp;─&nbsp;&nbsp;</label>
          <mat-form-field color="accent" appearance="fill">
              <mat-label>Seleccione una fecha</mat-label>
              <input matInput 
              [matDatepicker]="DateTo" 
              [min]="minDate" 
              [max]="maxDate" 
              (dateInput)="addDateTo($event)">
              <mat-datepicker-toggle matSuffix [for]="DateTo"></mat-datepicker-toggle>
              <mat-datepicker #DateTo></mat-datepicker>
            </mat-form-field>
      </div>
  </div>

  <div class="nav-item">
    <button type="button" class="btn btn-primary" (click)="btnSearch()">
      <i class="fa fa-search"></i>
    </button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar-row class="red-status-bg" >
  <div class="content-data" *ngFor = "let item of objCrypto">
    <h4>&nbsp;&nbsp;&nbsp;&nbsp; #{{ item.cmc_rank }}</h4>
    <h4>&nbsp;&nbsp;&nbsp; Moneda: {{ item.name }}</h4>
    <h4>&nbsp;&nbsp;&nbsp; Simbolo: {{ item.symbol }}</h4>
    <h4>&nbsp;&nbsp;&nbsp; Precio USD: {{ item.price }}</h4>
  </div>
</mat-toolbar-row>