<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" (click)="redirectHome()" routerLinkActive="router-link-active" ><img  src="/assets/img/dcrd_memories_logo.svg"></div>
    <div class="search-container"> 
      <app-form-search style="color: #ffff !important;"></app-form-search>
    </div>

    <div class="nav-item date">
      <div class="item-date">
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
    
      <div class="item-date">
          <label>&nbsp;&nbsp;─&nbsp;&nbsp;</label>
          <mat-form-field appearance="fill">
              <mat-label>Seleccione una fecha</mat-label>
              <input matInput [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
      </div>
  </div>

  <div class="nav-item">
    <button type="button" class="btn btn-primary">
      <i class="fa fa-search"></i>
    </button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar-row class="red-status-bg" >
  <div class="content-data">
    <h1>Hello DCRDATA</h1>
  </div>
</mat-toolbar-row>