mat-card{
    margin-bottom: 30px;
}
.title-agendas{
    margin-top: 30px;
    text-align: center;
}
h1{
    font-family: 'Source Sans Pro';
}

.list-group-item{
    margin-bottom: 10px;
}

.container-agendas{
    margin-bottom: 50px;
}