.content{
    margin-left: 20px;
    overflow-x: hidden !important;
    h2{
        font-weight: bold;
    }
}

// .col{
//     background: lightblue;
// }

.chart-wrapper{
    background: #F5F5F5;
    transform: translateX(-1%);
    // width: 564px;
}

.mat-paginator {
    display: flex;
    place-content: center;
}

h5{
    color:  #007bff;
}

a:active{
    background: #d4d4d4;
}