$font-color: rgb(0, 0, 0);

.container-logo{
    text-align: center;
    
    .img-logo{
        padding-top:150px;
        width: 25%;
    }
}

.container{
    text-align: center;
}

.search-input{
    padding: 0 10% 0 10%;
}

.date{
    text-align: center;
    padding: 0 10% 0 10%;
    display: flex;
    place-content: center;
}

.item-date{
    padding-left: 40px;
}


.btn-search{
    padding-left: 15px;
}

.btn-primary{
    height: 50px;
    width: 90px;
    border-color: #007bff00;
    border-radius: 0;

}


//carousel

.cards{
    margin: 10px 10px 20px 10px;
    width: 240px;
    height: 149px;
    background-image: url('/assets/img/img-event-newyear.svg');
    // background: no-repeat;
    background-size: 100%;

    &:hover{
        opacity: .93;
        transform: translateY(-3px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);     
        cursor: pointer;
    }
}
