.container{
    text-align: center;
    
    .img-logo{
        padding-top:100px;
        width: 42%;
    }
}

.search-input{
    padding: 0 10% 0 10%;
}

.date{
    align-items: center;
    text-align: center;
    padding: 0 10% 0 10%;
    display: flex;
}


.btn-search{
    padding-top: 6px;
}

.btn-primary{
    height: 50px;
    width: 90px;
    border-color: #007bff00;
    border-radius: 0;

}


//carousel

.cards{
    padding: 8px;
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);     
        cursor: pointer;
    }
}
