@import '~@angular/material/theming';
@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro';


$dcrd-color-primary:(
  50:#091440,
  100: #091440,
  200:#091440,
  300: #091440,
  400: #091440,
  500:#091440,
  600: #091440,
  700: #091440,
  800: #091440,
  900: #091440,
  A100: #091440,
  A200: #091440,
  A400: #091440,
  A700: #091440,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$decredUIApp-primary: mat-palette($dcrd-color-primary);
$decredUIApp-accent: mat-palette($mat-pink, A200, A100, A400);
$decredUIApp-warn: mat-palette($mat-red);

$custom-typography: mat-typography-config(
  $font-family: 'Source Sans Pro'  
);

@include mat-core($custom-typography);

$decredUIApp-theme: mat-light-theme((
  color: (
    primary: $decredUIApp-primary,
    accent: $decredUIApp-accent,
    warn: $decredUIApp-warn,
  )
));

$decredUIApp-theme-dark: mat-dark-theme((
  color: (
    primary: $decredUIApp-primary,
    accent: $decredUIApp-accent,
    warn: $decredUIApp-warn,
  )
));


@include angular-material-theme($decredUIApp-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.



.container{
    margin-top: 4rem;
}

.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    margin-top: 10px 0;
    margin: 10px;
    background-color: #fff;
    max-width: 529px;
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
        cursor: pointer;
    }
    img{
        opacity: 0.7s;
        width: 100%;
        transition: opacity 0.7s;
        &:hover{
            opacity: 1;
        }
    }
    .card-innner{
        padding: 10px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
